#light {
  background-color: rgb(255, 255, 255);
  color: black;    border: 3px solid rgb(200, 152, 255);
h6{
  color:rgb(23, 23, 226)
}
p{
  color: rgb(89, 43, 255);
  background-color: rgb(237, 237, 255);
  padding: 10px;
}

.piglet{
  background-color: rgb(197, 135, 255);
  color: aliceblue;
  padding: 30px;
}

.ch{
  background-color: rgb(255, 163, 163);
  color: rgb(255, 255, 255);
  padding: 10px;
}


h3{
  color: rgb(200, 152, 255);
  background-color: azure;
  padding: 10px;
}
h1{
  color:rgb(116, 111, 255)
}
h2{
  color:rgb(178, 147, 255)
}
button{
    color: rgb(43, 67, 145);
    background-color: rgb(240, 186, 255);
}

}