#Dark {
  background-color: rgb(42, 42, 42);
  color: rgb(255, 255, 255);    border: 3px solid rgb(200, 152, 255);

  background-color: rgb(44, 44, 44);

h5{
  color:rgb(131, 131, 255)
}

.ch{
  background-color: rgb(255, 163, 163);
  color: rgb(255, 255, 255);
  padding: 10px;
}

.piglet{
  background-color: rgb(76, 53, 97);
  color: rgb(167, 207, 242);
  padding: 30px;
}

p{
  color: rgb(105, 98, 239);
  background-color: rgb(51, 51, 103);
  padding: 10px;
}
h3{
  color: rgb(199, 170, 232);
  background-color: rgb(51, 81, 102);
  padding: 10px;
}
h1{
  color:rgb(244, 206, 255)
}
h2{
  color:rgb(224, 255, 240)
}
button{
  background-color: rgb(182, 201, 255);
  color: rgb(255, 255, 255);
  border-width: 3px;
  border-color: rgb(126, 130, 218);
}
footer p{
  color: rgb(200, 248, 249);
  background-color: darkslateblue;
  margin: 10px;
}

}